/* Styles Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, cite, a, abbr, acronym, address, em, strong, img, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; border: 0; outline: 0; margin: 0; font-size: 1.0em; font-weight: inherit; font-family: inherit; font-style: inherit; vertical-align: baseline; }
ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

a { text-decoration: none; }
a:link { color: inherit; text-decoration: none; }
a:visited { color:inherit; }
a:hover { text-decoration: underline; }

/* Font Reset */
body{font:13px/1.231 helvetica, arial, freesans, clean, sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{font:99% helvetica, arial, freesans, clean, sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* Base Styles */

html { background: #516a89; }
#body { 
    width: 780px; 
    margin-left: auto; margin-right: auto;
    border-left: 1px solid #b5b6b0; border-right: 1px solid #b5b6b0;
    color: #5a5b51;
}

input[type="text"] { width: 20em; padding: 0.5em 0.5em; margin: 0.5em 0; border: 1px solid #b5b6b0; }
label { display: block; width: 12em; padding: 0em 1.5em 0em 0.5em; margin: 0.5em 0; line-height: 2em; text-align: right; }  


/* Page Specific Styles */

#header { width: 780px; height: 125px; background: url(/static/bg_masthead.jpg); border-bottom: 1px solid #b5b6b0; }
#header ul { float: right; position: relative; top: 10px; right: 10px; font-size: 85%; } 
#header li { float: left; }
#header li a { padding-right: 10px; padding-left: 9px; }

#main { background-color: #c8c9c3; }

#sidebar { float: left; width: 220px; font-weight: bold; }
#sidebar div { height: 36px; padding-left: 21px; line-height: 36px; border-top: 1px solid #d1d2cd; border-bottom: 1px solid #b5b6b0; cursor: pointer; }
#sidebar div:hover { background-color: #b5b6b0; border-top: 1px solid #b5b6b0; }
#sidebar a:hover { text-decoration: none; }

#content { float: left; width: 560px; min-height: 350px; padding-bottom: 100px; background-color: #fbfbf3; color: #333333; }
#featured { height: 241px; background: url(/static/featured_bg.jpg) repeat-x; color: #ffffff; font: italic 100% Times New Roman, Times, serif; text-align: justify; }
#featured img { float: right; width: 320px height: 240px; border-left: 1px solid #b5b6b0; border-bottom: 1px solid #b5b6b0; }
#featured .quote { float: right; width: 205px; margin: 17px; }
#featured .author { float: right; margin-right: 17px; }

#mission { margin: 25px; text-align: justify; line-height: 20px; }
.blurb { float: left; margin-left: 25px; width: 245px; margin-bottom: 25px; }
.blurb h6 { background: #705c76; color: #ffffff; height: 25px; margin-bottom: 10px; text-align: center; line-height: 25px; font-weight: bold; font-size: 108%; }
.blurb a { float: left; width: 175px; } 
.blurb a:after { content: " »"; }
.blurb img { float: right; width: 60px; height: 80px; border: 1px solid #b5b6b0; }

#content h1 { margin-top: 80px; margin-left: 60px; font-size: 167%; }
.search { margin-top: 20px; margin-left: 56px; margin-bottom: 25px; }
.search input[type="text"] { height: 34px; width: 387px; font-size: 123.1%; border: 1px solid #b5b6b0; padding-left: 10px; padding-right: 45px; }
.search input[type="submit"] { background: url(/static/magnify.png); height: 27px; width: 27px; position: relative; left: -37px; top: -5px; cursor: pointer; border: 0; }
.sa { float: right; clear: right; margin-top: 10px; margin-right: 65px; }

.options { color: white; background: url(/static/featured_bg.jpg) 0 -50px repeat-x; }
.options > div { display: table; margin-left: auto; margin-right: auto; border-right: 1px solid #b5b6b0; }
.options > div div { float: left; display: table; padding: 10px 20px; border-left: 1px solid #b5b6b0; cursor: pointer; }
.options > div div.active, .options > div div.active:hover { background: #fbfbf3; color: #333333; }
.options > div div:hover { background: url(/static/featured_bg.jpg) 0 -100px repeat-x; color: white; }

.profile-blurb { display: block; margin-left: 46px; width: 444px; border: 1px solid #fbfbf3; padding: 9px; margin-top: 10px; }
.profile-blurb:hover { text-decoration: none; background-color: #e8e8e0; border: 1px solid #b5b6b0; }
.profile-blurb h6 { background: #705c76; color: #ffffff; height: 25px; margin-bottom: 10px; text-align: center; line-height: 25px; font-weight: bold; font-size: 108%; }
.profile-blurb span { float: right; width: 350px; }
.profile-blurb img { float: left; width: 67px; height: 80px; border: 1px solid #b5b6b0; }

#footer { width: 100%; height: 24px; font-size: 77%; line-height: 24px; background-color: #fbfbf3; border-top: 1px solid #b5b6b0; text-align: center; }

.signup-flow { margin: 30px auto 60px; }
.signup-flow td { min-width: 3em; text-align: center; }
.signup-flow tr.top { font-size: 167%; line-height: 2.5em; }
.signup-flow col.active { text-decoration: none; background-color: #e8e8e0; border: 1px solid #b5b6b0; }


