{% extends "base.html" %}
{% block title %}Search member profiles — APA Division 44{% end %}
{% block member_search %}class="active"{% end %}
{% block member_content %}
  <h1>Search member profiles</h1>
                    
  <div class="search clearfix">
    <input name="q" title="Enter your search term" type="text" value="Jon Mohr"/>
    <input type="submit" value="" title="Search"/>                    
    <a class="sa" href>Advanced search</a>
  </div>
  
  <a class="profile-blurb clearfix" href="/member/profile/jonathan.mohr">
    <h6>Jonathan Mohr</h6>
    <img src="{{ static_url("Jonathan.Mohr.jpg") }}"></img>
    <span><b>Jon Mohr</b>'s research focuses on manifestations and consequences of prejudice, discrimination, and stereotyping, as well as factors associated with positive adjustment in members of stigmatized groups. Most of his work examines these issues as they relate to sexual ...
    </span>
  </a>

  <a class="profile-blurb clearfix" href="/member/profile/cynthia.mohr">
    <h6>Cynthia Mohr</h6>
    <img src="{{ static_url("Cynthia.Mohr.jpg") }}"></img>
    <span>The focus of my research is the manner in which individuals influence one another’s perceptions and behaviors, particularly in terms of health behaviors. I examine the social support benefit of positive interpersonal relationships and exchanges. In addition, I consider how negative ...
    </span>
  </a>
{% end %}
