{% extends "base.html" %}
{% block title %}Apply to be a member — APA Division 44{% end %}
{% block member_apply %}class="active"{% end %}
{% block member_content %}
  <table class="signup-flow">
    <tr class="top">
      <td class="active">1</td>
      <td>→</td>
      <td>2</td>
      <td>→</td>
      <td>3</td>
    </tr>
    <tr class="bottom">
      <td class="active">Account<br/>Information</td>
      <td></td>
      <td>Personal<br/>Profile</td>
      <td></td>
      <td>Research Interests,<br/>Service Opportunities</td>
    </tr>
  </table>
  <form>
    <table>
      <tr>
        <td><label>A form field</label></td>
        <td><input type="text" value=""/></td>
      </tr>
      <tr>
        <td><label>A form field</label></td>
        <td><input type="text" value=""/></td>
      </tr>
      <tr>
        <td><br/></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Next"/>
          <input type="submit" value="Back"/>
        </td>
      </tr>
    </table>
  </form>
{% end %}
