{% extends "base.html" %}
{% block title %}Apply to be a member — APA Division 44{% end %}
{% block member_apply %}class="active"{% end %}
{% block member_content %}
  <table class="signup-flow">
    <tr class="top">
      <a href="/member/apply"><td class="active">1</td></a>
      <td>→</td>
      <td><a href="/member/apply.2">2</a></td>
      <td>→</td>
      <td><a href="/member/apply.3">3</a></td>
    </tr>
    <tr class="bottom">
      <td class="active"><a href="/member/apply">Account<br/>Information</a></td>
      <td></td>
      <td><a href="/member/apply.2">Personal<br/>Profile</a></td>
      <td></td>
      <td><a href="/member/apply.3">Research Interests,<br/>Service Opportunities</a></td>
    </tr>
  </table>
  <form>
    <table>
      <tr>
        <td><label>Email Address</label></td>
        <td><input type="text" value=""/></td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" value=""/></td>
      </tr>
      <tr>
        <td><br/></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Create My Account"/>
        </td>
      </tr>
    </table>
  </form>
{% end %}
