{% extends "base.html" %}
{% block title %}Apply to be a member — APA Division 44{% end %}
{% block member_login %}class="active"{% end %}
{% block member_content %}
  <h1>Login</h1>
  <form>
    <table>
      <tr>
        <td><label>Email Address</label></td>
        <td><input type="text" value=""/></td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" value=""/></td>
      </tr>
      <tr>
        <td><br/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Login To My Account"/></td>
      </tr>
    </table>
  </form>
{% end %}
